.snackbar-container {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    box-sizing: border-box !important;
    font-family: "Courier New", sans-serif !important;
    font-size: 18px !important;
    .snackbar-content {
        padding-left: 16px !important;
    }
    .snackbar-action {
        padding-left: 16px !important;
        .mdc-button {
            transform: scale(0.8);
            .mat-icon {
                color: rgb(71, 69, 69) !important;
                margin: 0px;
            }
        }
    }
}

.mat-mdc-snack-bar-container {
    &.success-snackbar {
        --mdc-snackbar-container-color: #649f67;
        --mdc-snackbar-supporting-text-color: #fff;
    }
    &.error-snackbar {
        --mdc-snackbar-container-color: #ff4747;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.cdk-global-overlay-wrapper {
    .mat-mdc-snack-bar-container {
        margin: 20px;
        .mdc-snackbar__surface {
            padding: 0px;
            margin: 0px;
        }
    }
}
.mdc-snackbar__label {
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
