div {
    color: white;
}

a {
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
}

.snackbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.close-btn {
    background: none;
    border: none;
    color: lightblue;
    cursor: pointer;
    font-size: 14px;
}

.close-btn:hover {
    text-decoration: underline;
}
