<div
    id="context-menu"
    class="context-menu"
    style="position: fixed"
    [style.left]="position.x"
    [style.top]="position.y"
    [style.visibility]="visibility"
>
    <div class="sub-menu-wrapper">
        <div class="menu-button" mat-button>
            <div>Examples</div>
        </div>
        <div class="context-menu sub-menu">
            <div
                class="menu-button"
                (click)="examples.generateExclusiveExample()"
                mat-button
            >
                <mat-icon>alt_route</mat-icon>
                <div>Exclusive Cut</div>
            </div>
            <div
                class="menu-button"
                (click)="examples.generateSequenceExample()"
                mat-button
            >
                <mat-icon>straight</mat-icon>
                <div>Sequence Cut</div>
            </div>
            <div
                class="menu-button"
                (click)="examples.generateParallelExample()"
                mat-button
            >
                <mat-icon>call_split</mat-icon>
                <div>Parallel Cut</div>
            </div>
            <div
                class="menu-button"
                (click)="examples.generateLoopExample()"
                mat-button
            >
                <mat-icon>repeat</mat-icon>
                <div>Loop Cut</div>
            </div>
            <div
                class="menu-button"
                (click)="examples.generateAOPTExample()"
                mat-button
            >
                <mat-icon>looks_one</mat-icon>
                <div>Activity Once Per Trace Fall Through</div>
            </div>
            <div
                class="menu-button"
                (click)="examples.generateFlowerExample()"
                mat-button
            >
                <mat-icon>filter_vintage</mat-icon>
                <div>Flower Model Fall Through</div>
            </div>
            <div
                class="menu-button"
                (click)="examples.generateFUHProcessMiningExample()"
                mat-button
            >
                <mat-icon>school</mat-icon>
                <div>Example from FUH-Script</div>
            </div>
        </div>
    </div>
    <div class="sub-menu-wrapper">
        <div class="menu-button" mat-button>
            <mat-icon>playlist_add</mat-icon>
            <div>New Event Log</div>
        </div>
        <div class="context-menu sub-menu">
            <div
                class="menu-button"
                (click)="dialogOpening.openEmptyDialog()"
                mat-button
            >
                <mat-icon>text_fields</mat-icon>
                <div>Open Input Dialog...</div>
            </div>
            <input
                type="file"
                class="file-input"
                onclick="this.value = null"
                (change)="dialogOpening.fileUpload($event)"
                accept=".xes"
                #fileUpload
            />
            <div class="menu-button" (click)="fileUpload.click()" mat-button>
                <mat-icon>upload</mat-icon>
                <div>Import Event Log from XES-File...</div>
            </div>
            <div
                class="sub-sub-menu-wrapper"
                [class.disabled]="disabling.isRecentEventLogsDisabled()"
            >
                <div class="menu-button" mat-button>
                    <mat-icon>history</mat-icon>
                    <div>Recent Event Logs</div>
                </div>
                <div class="context-menu sub-sub-menu">
                    <ng-container
                        *ngFor="
                            let recentEventLog of dialogOpening.recentEventLogs()
                        "
                    >
                        <div
                            class="menu-button"
                            mat-button
                            (click)="
                                dialogOpening.openFromHistory(recentEventLog)
                            "
                        >
                            <div>
                                {{ dialogOpening.display(recentEventLog) }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div
        class="menu-button"
        [class.disabled]="disabling.isEditEventLogDisabled()"
        mat-button
        (click)="dialogOpening.openPrefilledDialog()"
    >
        <mat-icon>edit_note</mat-icon>
        <div>Edit Event Log...</div>
    </div>
    <div class="hr"></div>
    <div
        class="menu-button"
        [class.disabled]="disabling.isResetSelectionDisabled()"
        mat-button
        (click)="resettingSelection.resetSelection()"
    >
        <mat-icon>refresh</mat-icon>
        <div>Reset Selection</div>
    </div>
    <div
        class="sub-menu-wrapper"
        [class.disabled]="disabling.isExecuteCutDisabled()"
    >
        <div class="menu-button" mat-button>
            <div>Execute Cut</div>
        </div>
        <div class="context-menu sub-menu">
            <div
                class="menu-button"
                mat-button
                (click)="executingCut.executeExclusiveCut()"
            >
                <mat-icon>call_split</mat-icon>
                <div>Exclusive Cut</div>
            </div>
            <div
                class="menu-button"
                mat-button
                (click)="executingCut.executeSequenceCut()"
            >
                <mat-icon>straight</mat-icon>
                <div>Sequence Cut</div>
            </div>
            <div
                class="menu-button"
                mat-button
                (click)="executingCut.executeParallelCut()"
            >
                <mat-icon>alt_route</mat-icon>
                <div>Parallel Cut</div>
            </div>
            <div
                class="menu-button"
                mat-button
                (click)="executingCut.executeLoopCut()"
            >
                <mat-icon>repeat</mat-icon>
                <div>Loop Cut</div>
            </div>
        </div>
    </div>
    <div
        class="sub-menu-wrapper"
        [class.disabled]="disabling.isExecuteFallThroughDisabled()"
    >
        <div class="menu-button" mat-button>
            <div>Execute Fall Through</div>
        </div>
        <div class="context-menu sub-menu">
            <div
                class="menu-button"
                mat-button
                (click)="
                    executingFallThrough.executeActivityOncePerTraceFallThrough()
                "
            >
                <mat-icon>looks_one</mat-icon>
                <div>Activity Once Per Trace Fall Through</div>
            </div>
            <div
                class="menu-button"
                mat-button
                (click)="executingFallThrough.executeFlowerModelFallThrough()"
            >
                <mat-icon>filter_vintage</mat-icon>
                <div>Flower Model Fall Through</div>
            </div>
        </div>
    </div>
    <div
        class="menu-button"
        [class.disabled]="disabling.isUndoDisabled()"
        (click)="undoing.undoLastUpdate()"
        mat-button
    >
        <mat-icon>undo</mat-icon>
        <div>Undo Last Split</div>
    </div>
    <div class="hr"></div>
    <div
        class="menu-button"
        [class.disabled]="disabling.isToggleEventLogsDisabled()"
        mat-button
        (click)="showingEventLog.toggleEventLogs()"
    >
        <div>
            {{ showingEventLog.buttonText() }}
        </div>
    </div>
    <div
        class="legend-menu-wrapper"
        [class.disabled]="disabling.isToggleFeedbackDisabled()"
        [matTooltip]="
            disabling.isCalculationInProgress()
                ? 'Calculation in progress...'
                : ''
        "
        [matTooltipDisabled]="!disabling.isCalculationInProgress()"
        matTooltipPosition="right"
    >
        <div
            class="menu-button"
            [class.disabled]="disabling.isToggleFeedbackDisabled()"
            mat-button
            (click)="showingArcFeedback.toggleArcFeedback()"
        >
            <div>{{ showingArcFeedback.buttonText() }}</div>
        </div>
        <div class="context-menu legend-menu">
            <div class="legend-menu-line">
                <mat-icon class="green">call_made</mat-icon>
                <div class="green">green arcs = definitely right</div>
            </div>
            <div class="legend-menu-line">
                <mat-icon class="orange">call_made</mat-icon>
                <div class="orange">orange arcs = possibly right</div>
            </div>
            <div class="legend-menu-line">
                <mat-icon class="red">call_made</mat-icon>
                <div class="red">red arcs = wrong</div>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <div
        class="sub-menu-wrapper"
        [class.disabled]="disabling.isExportDisabled()"
    >
        <div class="menu-button" mat-button>
            <mat-icon>output</mat-icon>
            <div>Export</div>
        </div>
        <div class="context-menu sub-menu">
            <div class="menu-button" mat-button (click)="exporting.exportPn()">
                <div>to PN</div>
            </div>
            <div
                class="menu-button"
                mat-button
                (click)="exporting.exportJson()"
            >
                <div>to JSON</div>
            </div>
            <div
                class="menu-button"
                mat-button
                (click)="exporting.exportPnml()"
            >
                <div>to PNML</div>
            </div>
        </div>
    </div>
</div>
