.context-menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #efc9db;
    color: #d42f7c;
    user-select: none;

    .menu-button {
        height: 40px;
        padding: 8px;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        white-space: nowrap;

        &:hover {
            background-color: #af899b;
            color: #ffe9fb;
        }
        mat-icon {
            margin-right: 8px;
        }
        div {
            flex-grow: 1;
        }

        .progress {
            cursor: wait;
        }
    }

    .legend-menu-line {
        height: 40px;
        padding: 8px;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        cursor: auto;
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        white-space: nowrap;

        mat-icon {
            margin-right: 8px;
        }
        div {
            flex-grow: 1;
        }
    }

    .sub-menu-wrapper {
        position: relative;

        & > .menu-button {
            cursor: default;
            &::after {
                content: ">";
                margin-left: 8px;
            }
        }

        .sub-menu {
            display: none;
        }

        &:not(.disabled):hover {
            .sub-menu {
                display: flex !important;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
    }

    .sub-sub-menu-wrapper {
        position: relative;

        & > .menu-button {
            cursor: default;
            &::after {
                content: ">";
                margin-left: 8px;
            }
        }

        .sub-sub-menu {
            display: none;
        }

        &:not(.disabled):hover {
            .sub-sub-menu {
                display: flex !important;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
    }

    .legend-menu-wrapper {
        position: relative;

        & > .legend-menu-line {
            &::after {
                content: "<>";
                margin-left: 8px;
            }
        }

        .legend-menu {
            display: none;
        }

        .green {
            color: green;
        }

        .orange {
            color: orange;
        }

        .red {
            color: red;
        }

        &:not(.disabled):hover {
            .legend-menu {
                display: flex !important;
                position: absolute;
                top: 0;
                left: 100%;
                background-color: #feebf4;
            }
        }
    }

    .hr {
        height: 0px;
        border-top: 1px solid #d42f7c;
        margin: 0;
    }

    .disabled,
    .sub-menu-wrapper.disabled .menu-button,
    .sub-sub-menu-wrapper.disabled .menu-button,
    .legend-menu-wrapper.disabled .legend-menu-line {
        cursor: not-allowed;
        color: #ffe9fb;
        /* color: white; */
        background-color: #efc9db !important;
    }
}

.file-input {
    display: none;
}

.context-menu.right-to-left {
    .sub-menu-wrapper {
        &:not(.disabled):hover {
            .sub-menu {
                left: unset;
                right: 100%;
            }
        }
    }

    .sub-sub-menu-wrapper {
        &:not(.disabled):hover {
            .sub-sub-menu {
                left: unset;
                right: 100%;
            }
        }
    }
}
