<div
    id="context-menu"
    class="context-menu"
    style="position: fixed"
    [style.left]="position.x"
    [style.top]="position.y"
    [style.visibility]="visibility"
>
    <div class="sub-menu-wrapper">
        <button mat-button [disabled]="isExportDisabled">Export ></button>
        <div class="context-menu sub-menu">
            <button
                mat-button
                (click)="exportPn()"
                [disabled]="isExportDisabled"
            >
                to PN
            </button>
            <button
                mat-button
                (click)="exportJson()"
                [disabled]="isExportDisabled"
            >
                to JSON
            </button>
            <button mat-button (click)="exportPnml()" [disabled]="isExportDisabled">to PNML</button>
        </div>
    </div>
</div>
