<h3>1. Choose Arcs -> 2. Select the correct Cut -> 3. Execute the Cut!</h3>
<div [ngClass]="{ 'disabled-component': actionButtonsAreDisabled }">
    <form [formGroup]="radioForm">
        <mat-radio-group formControlName="selectedCut">
            <mat-radio-button
                *ngFor="let option of radioOptions"
                [value]="option"
            >
                {{ option }}
            </mat-radio-button>
        </mat-radio-group>
    </form>
    <button mat-raised-button="primary" (click)="onCutClick()">
        Execute Cut
    </button>
    <!-- Abstand einfuegen? Wie? -->
    <button mat-stroked-button (click)="onCancelClick()">Cancel</button>
    <button mat-stroked-button (click)="onTestClick()">Test</button>
</div>
