<div>
    <h3>Example Generator</h3>
    <div class="example-generator-flex-container">
        <button mat-mini-fab (click)="generateEasyExample()">
            <mat-icon>signal_cellular_alt_1_bar</mat-icon>
        </button>
        <button mat-mini-fab (click)="generateMediumExample()">
            <mat-icon>signal_cellular_alt_2_bar</mat-icon>
        </button>
        <button mat-mini-fab (click)="generateComplexExample()">
            <mat-icon>signal_cellular_alt_3_bar</mat-icon>
        </button>
    </div>
</div>
