<div>
    <h3>Event Log Examples</h3>
    <div class="example-generator-flex-container">
        <button mat-mini-fab (click)="generateExclusiveExample()">
            <mat-icon>call_split</mat-icon>
        </button>
        <button mat-mini-fab (click)="generateSequenceExample()">
            <mat-icon>straight</mat-icon>
        </button>
        <button mat-mini-fab (click)="generateParallelExample()">
            <mat-icon>alt_route</mat-icon>
        </button>
        <button mat-mini-fab (click)="generateLoopExample()">
            <mat-icon>repeat</mat-icon>
        </button>
        <button mat-mini-fab (click)="generateAOPTExample()">
            <mat-icon>looks_one</mat-icon>
        </button>
        <button mat-mini-fab (click)="generateFlowerExample()">
            <mat-icon>filter_vintage</mat-icon>
        </button>
    </div>
</div>
