<div class="flexColumnAlignStartStretch">
    <!--  Header  -->
    <div class="flexRowAlignCenterCenter">
        <a href="https://www.fernuni-hagen.de/ilovepetrinets/"
            ><h1>I <span class="red">❤</span> Petri Nets</h1></a
        >
    </div>
    <h2>
        <i>Fachpraktikum Programmiersysteme WiSe24/25</i> by<br />
        ..., ..., ..., ... and ...
    </h2>

    <!--    Main content    -->
    <app-display
        class="padding full-size"
        (fileContent)="processSourceChange($event)"
    ></app-display>

    <div class="flexRowAlignSpaceEvenlyStart">
        <button mat-flat-button (click)="openDialog()">Input Event Log</button>
    </div>

    <!--  Footer  -->
    <hr />
    <app-footer></app-footer>
</div>
