.file-input {
    display: none;
}

.mat-mdc-dialog-actions {
    display: flex;
    flex-direction: row;
    padding: 24px;
    padding-top: 0;
}

.mat-mdc-dialog-content {
  padding-bottom: 0;
}

.file-upload-wrapper {
    flex: 1 0 0;
}

.file-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filename {
  margin-left: 8px;
}