<h2 mat-dialog-title>Event-Log Input</h2>
<mat-dialog-content class="mat-typography">
    <form (ngSubmit)="onOkClick()">
        <mat-form-field style="width: 100%">
            <mat-label>Enter Event-Log here!</mat-label>
            <input
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"
                placeholder="A B C + D+F + Y Z ..."
                [formControl]="eventLogControl"
                cdkFocusInitial
            />
            <mat-error
                *ngIf="
                    eventLogControl.hasError('required') &&
                    eventLogControl.dirty
                "
            >
                There ist no empty input allowed!
            </mat-error>
            <mat-error
                *ngIf="
                    eventLogControl.hasError('invalidInput') &&
                    eventLogControl.dirty
                "
            >
                Invalid Input Reason: A leading plus at the beginning, too many
                whitespaces in a row or too many plus signs
            </mat-error>
            <mat-hint
                >Activities per trace concatenated by exactly one whitespace.
                The traces concatenated by a plus (+). The whitespaces before
                and after the plus are optional. No empty input is allowed.
            </mat-hint>
        </mat-form-field>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button
                mat-button
                type="submit"
                cdkFocusInitial
                [disabled]="eventLogControl.invalid"
            >
                Ok
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
