* {
    font-family: "Courier New", sans-serif !important;
}

h2 {
    font-weight: bold !important;
}

button[mat-stroked-button] {
    color: #d42f7c;
}
button[mat-stroked-button].cancel {
    color: #000000 !important;
    border: 1px solid #000000;
}

button[mat-stroked-button].clear {
    border: 1px solid #d42f7c !important;
}

button[mat-stroked-button].submit {
    background-color: #f2d4e2 !important;
    border: 1px solid #d42f7c !important;
}

button[mat-stroked-button].clear:disabled {
    color: #a9a9a9;
    background-color: #ffffff;
    cursor: not-allowed;
    border: 1px solid #a9a9a9 !important;
}

button[mat-stroked-button].submit:disabled {
    color: #a9a9a9;
    background-color: #ffffff !important;
    cursor: not-allowed;
    border: 1px solid #a9a9a9 !important;
}

button[mat-stroked-button].submit:hover {
    background-color: #af899b !important;
    color: #ffe9fb !important;
}

.mat-primary {
    --mat-full-pseudo-checkbox-selected-icon-color: none !important;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: none !important;
}

html {
    --mdc-filled-text-field-caret-color: none !important;
    --mdc-filled-text-field-focus-active-indicator-color: none !important;
    --mdc-filled-text-field-focus-label-text-color: none !important;
    --mdc-outlined-text-field-caret-color: none !important;
    --mdc-outlined-text-field-focus-outline-color: none !important;
    --mat-stepper-header-selected-state-icon-background-color: none !important;
    --mat-stepper-header-done-state-icon-background-color: none !important;
    --mat-stepper-header-edit-state-icon-background-color: none !important;
    --mdc-outlined-text-field-caret-color: none !important;
    --mdc-outlined-text-field-focus-outline-color: none !important;
    --mdc-outlined-text-field-focus-label-text-color: none !important;
}

.file-input {
    display: none;
}

.mat-mdc-dialog-actions {
    display: flex;
    flex-direction: row;
    padding: 50px 0 20px 0;
}

.mat-mdc-input-element {
    padding: 5px 0 0 0;
}

.mat-mdc-dialog-content {
    padding-bottom: 0;
}

.file-upload-wrapper {
    flex: 1 0 0;
}

.file-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filename {
    margin-left: 8px;
}
