/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 3vw;
    font-family: "Courier New", sans-serif;
}

.mat-mdc-snack-bar-container {
    &.success-snackbar {
        --mdc-snackbar-container-color: #1a711dac;
        --mdc-snackbar-supporting-text-color: #fff;
    }
    &.error-snackbar {
        --mdc-snackbar-container-color: #c800007e;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}
