/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    box-sizing: border-box;
}
html {
    overflow-y: hidden;
}
body {
    margin: 0;
    padding: 3vh 3vw;
    font-family: "Courier New", sans-serif;
    overflow-y: auto;
}
